extends ../template

block variables
    - var title = 'Наши возможности'
    - var contactForm = true


block content
    main.capacity-page

        //- breadcrumbs
        section.cont-block__wrap.cont-block_mt40
            .cont-block
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    li.breadcrumbs__item
                        span.breadcrumbs__link.breadcrumbs__link_current Наши возможности

        //- Наши возможности блок
        section.cont-block__wrap.cont-block_mb120.cont-block_mt50
            .cont-block.catalog-block
                .catalog-block__left
                    .catalog-acc
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn.catalog-acc__btn_active
                                        a(href="#").catalog-acc__caption Слесарно-монтажный<br> инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item.catalog-acc__panel-item_active
                                        a(href="#") Ключи гаечные
                                    li.catalog-acc__panel-item
                                        a(href="#") Головки торцевые с принадлежностями
                                    li.catalog-acc__panel-item
                                        a(href="#") Шарнирно-губцевый инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Электромонтажный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Электроизолированный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Сантехнический инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Ножницы, болторезы
                                    li.catalog-acc__panel-item
                                        a(href="#") Отвёртки
                                    li.catalog-acc__panel-item
                                        a(href="#") Молотки и ударнорежущий инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Мерительный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструменты для электроники
                                    li.catalog-acc__panel-item
                                        a(href="#") Дополнительный ручной инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструменты для работы на высоте
                                    li.catalog-acc__panel-item
                                        a(href="#") Наборы инструментов
                
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Пневматический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Пневматические инструменты и аксессуары

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Промышленные съемники
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") Nexus
                                    
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Мебель и средства хранения
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Оборудование для мастерских
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") HEPCO&BECKER

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Динамометрический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Гидравлический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler
                        
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Искробезопасный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Резьбонарезной инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Абразивный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Сервисный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")

                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Автомобильные инструменты
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструментыдля обслуживания велосипедов
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструментыдля обслуживания мотоциклов
                                    
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Наши возможности
                            .ac-panel
                
                .catalog-block__right
                    .cont-block__header
                        h1.cont-block__h.main-color_yellow Наши возможности
                    
                    .capacity
                        .capacity__block
                            h2.capacity__subtitle.subtitle Услуги по проектированию рабочего места 5S
                            .capacity__img-wrap
                                img(src="assets/images/capacity-banner-min.jpg", alt="")
                            
                            .capacity__text-wrap
                                .capacity__text
                                    p Рабочее место (пространство) – это участок производственной площадки, цеха, мастерской, где рабочий выполняет определенные работы в соответствии со своими задачами. Такое место оснащено оборудованием, инструментами и приспособлениями в соответствии с характером выполняемой работы.
                                    p Таким образом, основная цель проектирования рабочего места – создание условий для качественного и эффективного выполнения работ при одновременном соблюдении правил техники безопасности и создании комфортных условий для работников.
                                    p Если перед вами или вашими специалистами стоят именно такие задачи, то наша компания готова подобрать индивидуальное решение в соответствии с вашими требованиями.
                                    p Кроме привычного уже всем пользователям ассортимента мебели Unior – тележек, верстаков, шкафов, чемоданов и прочих систем хранения и аксессуаров, наша компания предлагает вашему вниманию новую модульную систему, включающую улучшенные версии верстаков с повышенной функциональностью и расширенным ассортиментом составляющих элементов и модулей.
                                ul.capacity__list.capacity-list
                                    li.capacity-list__item
                                        a.capacity-list__link.button.main-color_orange(href="")
                                            span.capacity-list__text Скачать каталог по модульным системам
                                            svg(width="32" height="32")
                                                use(xlink:href="assets/images/sprite.svg#icon-pdf")
                                    li.capacity-list__item
                                        a.capacity-list__link.button.main-color_orange(href="")
                                            span.capacity-list__text Скачать листовку «Проектирование рабочего пространства»
                                            svg(width="32" height="32")
                                                use(xlink:href="assets/images/sprite.svg#icon-pdf")

                        .capacity__block
                            h2.capacity__subtitle.subtitle Услуги по проектированию рабочего места 5S
                            .capacity__img-wrap
                                img(src="assets/images/capacity-banner-2-min.jpg", alt="")
                            
                            .capacity__text-wrap
                                .capacity__text
                                    p Рабочее место (пространство) – это участок производственной площадки, цеха, мастерской, где рабочий выполняет определенные работы в соответствии со своими задачами. Такое место оснащено оборудованием, инструментами и приспособлениями в соответствии с характером выполняемой работы.
                                    p Таким образом, основная цель проектирования рабочего места – создание условий для качественного и эффективного выполнения работ при одновременном соблюдении правил техники безопасности и создании комфортных условий для работников.
                                    p Если перед вами или вашими специалистами стоят именно такие задачи, то наша компания готова подобрать индивидуальное решение в соответствии с вашими требованиями.
                                    p Кроме привычного уже всем пользователям ассортимента мебели Unior – тележек, верстаков, шкафов, чемоданов и прочих систем хранения и аксессуаров, наша компания предлагает вашему вниманию новую модульную систему, включающую улучшенные версии верстаков с повышенной функциональностью и расширенным ассортиментом составляющих элементов и модулей.
                                ul.capacity__list.capacity-list
                                    li.capacity-list__item
                                        a.capacity-list__link.button.main-color_orange(href="")
                                            span.capacity-list__text Скачать каталог по модульным системам
                                            svg(width="32" height="32")
                                                use(xlink:href="assets/images/sprite.svg#icon-pdf")

        //- Contact form
        section.cont-block__wrap.cont-block_mb120
            .cont-block.contact-form
                .contact-form__left
                    h2.cont-block__h.contact-form__title Заказать звонок
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus vulputate amet, phasellus. Ultrices arcu nec scelerisque convallis eu. Tellus sed vel sem vel vestibulum nunc tincidunt. 

                    form.contact-form__form(action="#" method="#")
                        label.input
                            input(type="text" name="name" placeholder="Ваше имя" required).input__input
                            .input__error Поле введено не верно
                        label.input
                            input(type="tel" name="name" placeholder="Ваш телефон" required).input__input
                            .input__error Поле введено не верно
                        button.contact-form__btn.button.main-color_orange(type="submit") Перезвонить мне
                    p.contact-form__bot Нажимая на кнопку, я подтверждаю, что согласен на обработку моих персональных данных, а также с 
                        a(href="#") Пользовательским соглашением

                .contact-form__right
                    img(src="assets/images/make-call.jpg", alt="")