extends ../template

block variables
    - var title = 'Каталог по группам'
    - var contactForm = true


block content
    main
        //- breadcrumbs
        section.cont-block__wrap.cont-block_mt40
            .cont-block
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Каталог
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Слесарно-монтажный инструмент
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    li.breadcrumbs__item.breadcrumbs__item_mobile
                        button.breadcrumbs__btn(aria-label="open")
                            span
                    li.breadcrumbs__item.breadcrumbs__item_current
                        span.breadcrumbs__link.breadcrumbs__link_current Ключи гаечные
                

        //- catalog accordion
        section.cont-block__wrap.cont-block_mb60.cont-block_mt50
            .cont-block.catalog-block
                .catalog-block__left
                    .catalog-ac
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn.catalog-acc__btn_active
                                        a(href="#").catalog-acc__caption Слесарно-монтажный<br> инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item.catalog-acc__panel-item_active
                                        a(href="#") Ключи гаечные
                                    li.catalog-acc__panel-item
                                        a(href="#") Головки торцевые с принадлежностями
                                    li.catalog-acc__panel-item
                                        a(href="#") Шарнирно-губцевый инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Электромонтажный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Электроизолированный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Сантехнический инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Ножницы, болторезы
                                    li.catalog-acc__panel-item
                                        a(href="#") Отвёртки
                                    li.catalog-acc__panel-item
                                        a(href="#") Молотки и ударнорежущий инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Мерительный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструменты для электроники
                                    li.catalog-acc__panel-item
                                        a(href="#") Дополнительный ручной инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструменты для работы на высоте
                                    li.catalog-acc__panel-item
                                        a(href="#") Наборы инструментов
                
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Пневматический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Пневматические инструменты и аксессуары

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Промышленные съемники
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") Nexus
                                    
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Мебель и средства хранения
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Оборудование для мастерских
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") HEPCO&BECKER

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Динамометрический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Гидравлический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler
                        
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Искробезопасный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Резьбонарезной инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Абразивный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Сервисный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")

                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Автомобильные инструменты
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструментыдля обслуживания велосипедов
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструментыдля обслуживания мотоциклов
                                    
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Наши возможности
                            .ac-panel

                .catalog-block__right
                    section.catalog
                        .cont-block__header
                            h1.cont-block__h.catalog__title.main-color_yellow Ключи гаечные
                        
                        .catalog__filter.catalog-filter
                            span Сортировать по:
                            .catalog-filter__select-wrap
                                select.catalog-filter__select(name="sort")
                                    option(value="") Популярности
                                    option(value="") Наименованию
                                svg(width="15" height="15")
                                    use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            button.catalog-filter__btn
                                svg(width="20" height="20")
                                    use(xlink:href="assets/images/sprite.svg#filter")

                        ul.catalog__list.catalog-group
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1
                            li.catalog-group__item
                                a.catalog-group__link(href="#")
                                    .catalog-group__img-wrap
                                        img.catalog-group__img(src="assets/images/key.jpg" alt="Ключ рожковый")
                                    .catalog-group__text-wrap
                                        .catalog-group__caption Ключ рожковый 110/1

        //- main block video list
        section.cont-block__wrap.cont-block_mb120
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_yellow Видео по работе с ручными инструментами

                .video-list
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn.video-list__btn_orange(aria-label="Play")
                                svg(width="50" height="50")
                                    use(xlink:href="assets/images/sprite.svg#button-play")
                        span.video-list__caption Как пользоваться отверткой безопасно 
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn.video-list__btn_orange(aria-label="Play")
                                svg(width="50" height="50")
                                    use(xlink:href="assets/images/sprite.svg#button-play")
                        span.video-list__caption Правильный выбор инструмента, советы от профессионалов
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn.video-list__btn_orange(aria-label="Play")
                                svg(width="50" height="50")
                                    use(xlink:href="assets/images/sprite.svg#button-play")
                        span.video-list__caption Правильный выбор инструмента, советы от профессионалов

        //- Contact form
        section.cont-block__wrap.cont-block_mb120
            .cont-block.contact-form
                .contact-form__left
                    h2.cont-block__h.contact-form__title Заказать звонок
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus vulputate amet, phasellus. Ultrices arcu nec scelerisque convallis eu. Tellus sed vel sem vel vestibulum nunc tincidunt. 

                    form.contact-form__form(action="#" method="#")
                        label.input
                            input(type="text" name="name" placeholder="Ваше имя" required).input__input
                            .input__error Поле введено не верно
                        label.input
                            input(type="tel" name="name" placeholder="Ваш телефон" required).input__input
                            .input__error Поле введено не верно
                        button.contact-form__btn.button.main-color_orange(type="submit") Перезвонить мне
                    p.contact-form__bot Нажимая на кнопку, я подтверждаю, что согласен на обработку моих персональных данных, а также с 
                        a(href="#") Пользовательским соглашением

                .contact-form__right
                    img(src="assets/images/make-call.jpg", alt="")
        
        //- block с текстом в 2 колонки
        section.cont-block__wrap.cont-block_mb120
            .cont-block
                .about__text-wrap
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
