extends ../template

block variables
    - var title = 'Каталог'
    - var contactForm = true


block content
    main
        //- breadcrumbs
        section.cont-block__wrap.cont-block_mt40
            .cont-block
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    li.breadcrumbs__item
                        span.breadcrumbs__link.breadcrumbs__link_current Каталог

        //- catalog accordion
        section.cont-block__wrap.cont-block_mb120.cont-block_mt50
            .cont-block.catalog-block
                .catalog-block__left
                    .catalog-acc
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn.catalog-acc__btn_active
                                        a(href="#").catalog-acc__caption Слесарно-монтажный<br> инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item.catalog-acc__panel-item_active
                                        a(href="#") Ключи гаечные
                                    li.catalog-acc__panel-item
                                        a(href="#") Головки торцевые с принадлежностями
                                    li.catalog-acc__panel-item
                                        a(href="#") Шарнирно-губцевый инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Электромонтажный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Электроизолированный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Сантехнический инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Ножницы, болторезы
                                    li.catalog-acc__panel-item
                                        a(href="#") Отвёртки
                                    li.catalog-acc__panel-item
                                        a(href="#") Молотки и ударнорежущий инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Мерительный инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструменты для электроники
                                    li.catalog-acc__panel-item
                                        a(href="#") Дополнительный ручной инструмент
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструменты для работы на высоте
                                    li.catalog-acc__panel-item
                                        a(href="#") Наборы инструментов
                
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Пневматический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Пневматические инструменты и аксессуары

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Промышленные съемники
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") Nexus
                                    
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Мебель и средства хранения
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Оборудование для мастерских
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") HEPCO&BECKER

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Динамометрический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Гидравлический инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler
                        
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Искробезопасный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Резьбонарезной инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Абразивный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Unior
                                    li.catalog-acc__panel-item
                                        a(href="#") TechnoGi
                                    li.catalog-acc__panel-item
                                        a(href="#") CWatler

                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Сервисный инструмент
                                        svg(width="15" height="15")
                                            use(xlink:href="assets/images/sprite.svg#arrow-smal")

                            .ac-panel
                                ul.catalog-acc__panel
                                    li.catalog-acc__panel-item
                                        a(href="#") Автомобильные инструменты
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструментыдля обслуживания велосипедов
                                    li.catalog-acc__panel-item
                                        a(href="#") Инструментыдля обслуживания мотоциклов
                                    
                        .catalog-acc__item.ac
                            .ac-header
                                .ac-trigger
                                    .catalog-acc__btn
                                        a(href="#").catalog-acc__caption Наши возможности
                            .ac-panel

                .catalog-block__right
                    section.catalog
                        .cont-block__header
                            h1.cont-block__h.main-color_yellow Каталог продукции
                        
                        .catalog__filter.catalog-filter
                            span Сортировать по:
                            .catalog-filter__select-wrap
                                select.catalog-filter__select(name="sort")
                                    option(value="") Популярности
                                    option(value="") Цене
                                svg(width="15" height="15")
                                    use(xlink:href="assets/images/sprite.svg#arrow-smal")
                            button.catalog-filter__btn
                                svg(width="20" height="20")
                                    use(xlink:href="assets/images/sprite.svg#filter")

                        ul.catalog__list.catalog-production
                            li.catalog-production__item
                                .catalog-production__img-wrap
                                    img(src="assets/images/", alt="")
                                .catalog-production__wrap
                                    .catalog-production__caption Слесарно-монтажный инструмент
                                    ul.

                    //- Гарантийные обязательства
                    section.catalog-warranty
                        .cont-block__header
                            h2.cont-block__h.main-color_yellow Гарантийные обязательства

                        .warranty
                            .warranty__text-wrap
                                p Весь ассортимент инструмента UNIOR предназначен для профессионального использования и <span>удовлетворяет требованиям международных стандартов ISO и немецких стандартов DIN.</span>
                                .warranty__desc
                                    p UNIOR предоставляет бессрочную гарантию от брака, обусловленного дефектами материала или изготовления, на весь инструмент.
                                    p В случае выхода инструмента из строя по вине изготовителя официальный представитель UNIOR обеспечит его бесплатный ремонт или замену.

                                .warranty__list-wrap
                                    p Бессрочная гарантия <span>не распространяется:</span>
                                    ul.warranty__list
                                        li.warranty__item
                                            svg.warranty__icon(width="20" height="20")
                                                use(xlink:href="assets/images/sprite.svg#circle-ok")
                                            p На инструмент, утративший свою работоспособность в результате естественного износа;
                                        li.warranty__item
                                            svg.warranty__icon(width="20" height="20")
                                                use(xlink:href="assets/images/sprite.svg#circle-ok")
                                            p На инструмент, получивший механические повреждения в результате его использования не по назначению;
                                        li.warranty__item
                                            svg.warranty__icon(width="20" height="20")
                                                use(xlink:href="assets/images/sprite.svg#circle-ok")
                                            p На инструмент, подвергшийся воздействию ударных нагрузок (для инструмента, не рассчитанного на такие нагрузки);
                                        li.warranty__item
                                            svg.warranty__icon(width="20" height="20")
                                                use(xlink:href="assets/images/sprite.svg#circle-ok")
                                            p На пневматический инструмент (см. специальные гарантийные обязательства);
                                        li.warranty__item
                                            svg.warranty__icon(width="20" height="20")
                                                use(xlink:href="assets/images/sprite.svg#circle-ok")
                                            p На динамометрический и реверсивный инструмент (см. специальные гарантийные обязательства);
                                        li.warranty__item
                                            svg.warranty__icon(width="20" height="20")
                                                use(xlink:href="assets/images/sprite.svg#circle-ok")
                                            p На инструментальную мебель и средства хранения инструмента.
                                    p Подробно с гарантийными обязательствами UNIOR можно ознакомиться 
                                        a(href="#") здесь.
                            ul.warranty__img-wrap
                                li.warranty__img-item
                                    img(src="assets/images/iso-logo.png" alt="")
                                li.warranty__img-item
                                    img(src="assets/images/din-logo.png" alt="")
