extends ../template

block variables
    - var title = 'Навигация'
    - var contactForm = true

block content
    main
        ul 
            li 
                a(href="main-page.html") Главная

            li 
                a(href="about-company.html") О компании

            li 
                a(href="ui.html") UI  
            li 
                a(href="404.html") 404  