extends ../template

block variables
    - var title = 'Навигация'
    - var contactForm = true

block content
    main
        section.cont-block__wrap.cont-block_mb120.cont-block_mt50
            .cont-block
                ul 
                    li 
                        a(href="ui.html") UI

                    li 
                        a(href="main-page.html") Главная

                    li 
                        a(href="about-company.html") О компании
                    
                    li 
                        a(href="career-page.html") Карьера
                    
                    li 
                        a(href="catalog.html") Каталог

                    li 
                        a(href="catalog-group.html") Каталог по группам
                    
                    li 
                        a(href="catalog-inner-group.html") Каталог по группам - 2

                    li 
                        a(href="catalog-item.html") Каталог - элемент

                    li 
                        a(href="our-brands.html") Наши бренды
                    
                    li 
                        a(href="brand-page.html") Бренд

                    li 
                        a(href="dealer.html") Дилеры

                    li 
                        a(href="tech-info.html") Техническая информация
                    
                    li 
                        a(href="news-page.html") Новости

                    li 
                        a(href="news-item.html") Новость

                    li 
                        a(href="contacts.html") Контакты

                    li 
                        a(href="cart.html") Корзина
                    
                    li 
                        a(href="order-place.html") Оформление заказа

                    li 
                        a(href="capacity.html") Наши возможности

                    li 
                        a(href="404.html") 404