extends ../template

block variables
    - var title = 'Навигация'
    - var contactForm = true

block content
    main
        ul 
            li 
                a(href="main-page.html") Главная

            li 
                a(href="ui.html") UI  