extends ../template

block variables
    - var title = 'Новость'
    - var contactForm = false


block content
    main.dealer-page
        //- breadcrumbs
        section.cont-block__wrap.cont-block_mt40
            .cont-block
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Новости
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    li.breadcrumbs__item
                        span.breadcrumbs__link.breadcrumbs__link_current Новость

        //- banner
        section.cont-block__wrap.cont-block_mt28.cont-block_mb50
            .cont-block
                .banner__img-wrap
                    img(src="assets/images/career-banner.jpg", alt="")

        //- Новость
        section.cont-block__wrap.cont-block_mb130
            .cont-block.cont-block_small
                .cont-block__header
                    h2.cont-block__h.main-color_green Интервью с руководителем коммерческого департамента

                .cont-block__text-wrap
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.

                    p Ullamcorper massa dolor, in vel phasellus purus, dictum. Feugiat elementum elit imperdiet eros in. Consequat, ridiculus amet, velit sit malesuada duis duis fermentum et.

                .news-item__text-wrap
                    h3.news-item__subtitle.subtitle О чем речь
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.

                .news-item__text-wrap
                    h3.news-item__subtitle.subtitle Какой результат
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.

                .news-item__slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                figure.news-item__slide
                                    img.news-item__img(src="assets/images/career.jpg" alt="")
                                    figcaption.news-item__caption Подпись к фото
                            .swiper-slide
                                figure.news-item__slide
                                    img.news-item__img(src="assets/images/career.jpg" alt="")
                                    figcaption.news-item__caption Подпись к фото
                            .swiper-slide
                                figure.news-item__slide
                                    img.news-item__img(src="assets/images/career.jpg" alt="")
                                    figcaption.news-item__caption Подпись к фото
                    .swiper-pagination
                    .swiper-button-prev.swiper-button_green
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                    .swiper-button-next.swiper-button_green
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")

                .news-item__text-wrap
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                    .news-item__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.