extends ../template

block variables
    - var title = 'UI'
    - var contactForm = true

block content
    main
        //- ui inputs
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_red UI Инпуты
                label.input
                    input(type="text" name="name" placeholder="Логин").input__input.error
                    .input__name Логин
                    .input__error Поле введено не верно

                label.input
                    input(type="text" name="name" placeholder="Пароль" required).input__input
                    .input__name Пароль
                    .input__error Поле введено не верно

                label.input-switch
                    input(type="radio" name="radio").input-switch__input
                    .input-switch__wrap
                        .input-switch__mimic
                        .input-switch__text Запомнить меня

                label.input-switch
                    input(type="radio" name="radio").input-switch__input
                    .input-switch__wrap
                        .input-switch__mimic
                        .input-switch__text Запомнить меня

                label.input-switch
                    input(type="checkbox" name="checkbox").input-switch__input
                    .input-switch__wrap
                        .input-switch__mimic           
                        .input-switch__text Запомнить меня            

                label.input-switch
                    input(type="checkbox" name="checkbox" disabled).input-switch__input
                    .input-switch__wrap
                        .input-switch__mimic           
                        .input-switch__text Запомнить меня            

        //- ui buttons
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_red UI Кнопки
                    a(href="#").button.main-color_red Ссылка 

                .button__wrap 
                    button.button Кнопка
                    a(href="#").button Ссылка 
                    button.button.button_ghost Кнопка
                    a(href="#").button.button_ghost Ссылка 
                .button__wrap 
                    button.button.main-color_green Кнопка
                    a(href="#").button.main-color_green Ссылка 

                    button.button.main-color_yellow Кнопка
                    a(href="#").button.main-color_yellow Ссылка 

                    button.button.main-color_red Кнопка
                    a(href="#").button.main-color_red Ссылка 

                    button.button.main-color_orange Кнопка
                    a(href="#").button.main-color_orange Ссылка 

                    button.button.main-color_blue-2 Кнопка
                    a(href="#").button.main-color_blue-2 Ссылка 
                .button__wrap 
                    button.button.button_ghost.main-color_green Кнопка
                    a(href="#").button.button_ghost.main-color_green Ссылка 

                    button.button.button_ghost.main-color_yellow Кнопка
                    a(href="#").button.button_ghost.main-color_yellow Ссылка 

                    button.button.button_ghost.main-color_red Кнопка
                    a(href="#").button.button_ghost.main-color_red Ссылка 

                    button.button.button_ghost.main-color_orange Кнопка
                    a(href="#").button.button_ghost.main-color_orange Ссылка 

                    button.button.button_ghost.main-color_blue-2 Кнопка
                    a(href="#").button.button_ghost.main-color_blue-2 Ссылка
                .swiper-btn-wrap
                    .swiper-button-prev
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                    .swiper-button-next
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                .swiper-btn-wrap
                    .swiper-button-prev.swiper-button_blue
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                    .swiper-button-next.swiper-button_blue
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                .swiper-btn-wrap
                    .swiper-button-prev.swiper-button_green
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                    .swiper-button-next.swiper-button_green
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                .swiper-btn-wrap
                    .swiper-button-prev.swiper-button_orange
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")
                    .swiper-button-next.swiper-button_orange
                        svg(width="22" height="22")
                            use(xlink:href="assets/images/sprite.svg#long-arrow")

        //- main news block
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_green Новости
                    a(href="#").linc-arrow.cont-block--linc-arrow.main-color_green
                        | Смотреть все
                        svg(width="12" height="12").linc-arrow__icont
                            use(xlink:href="./assets/images/sprite.svg#arrow-smal")
                ul.cont-block__list.news-list
                    li.news-list__item
                        a.news-list__link(href="#")
                            .news-list__img-wrap
                                img.news-list__img(src="assets/images/news-1-min.jpg" alt="")
                            .news-list__text-wrap
                                span.news-list__date 10.12.2020
                                h3.news-list__caption Интервью с руководителем коммерческого департамента
                                p.news-list__text Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!
                    li.news-list__item
                        a.news-list__link(href="#")
                            .news-list__img-wrap
                                img.news-list__img(src="assets/images/news-2-min.jpg" alt="")
                            .news-list__text-wrap
                                span.news-list__date 10.12.2020
                                h3.news-list__caption Интервью с руководителем коммерческого департамента
                                p.news-list__text Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!
                    li.news-list__item
                        a.news-list__link(href="#")
                            .news-list__img-wrap
                                img.news-list__img(src="assets/images/news-3-min.jpg" alt="")
                            .news-list__text-wrap
                                span.news-list__date 10.12.2020
                                h3.news-list__caption Интервью с руководителем коммерческого департамента
                                p.news-list__text Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!

        //- main catalog block
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_yellow Каталог продукции
                    a(href="#").button.main-color_yellow Смотреть все
                ul.cont-block__list.catalog-list
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Слесарно-монтажный инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Слесарно-монтажный инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Пневматический инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Пневматический инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Промышленные съемники")
                            .catalog-list__text-wrap
                                .catalog-list__caption Промышленные<br> съемники
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Инструментальная мебель и средства хранения")
                            .catalog-list__text-wrap
                                .catalog-list__caption Инструментальная мебель<br> и средства хранения
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Динамометрический инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Динамометрический<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Гидравлический инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Гидравлический<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Искробезопасный инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Искробезопасный<br> инструмент
                                svg(width="30" height="26").catalog-list__ex
                                    use(xlink:href="assets/images/sprite.svg#EX")
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Резьбонарезной инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Резьбонарезной<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Абразивный инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Абразивный<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Сервисный инструмент")
                            .catalog-list__text-wrap
                                .catalog-list__caption Сервисный<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png" alt="Наши возможности")
                            .catalog-list__text-wrap
                                .catalog-list__caption Наши<br> возможности

                    li.catalog-list__buttom-more
                        label.button.main-color_yellow 
                            span Показать больше
                            input(type="checkbox" name="buttom-more")(data-catalog-list-more) 

                    li.catalog-list__item.catalog-list__item_catalog
                        a.catalog-list__link(href="#")
                            .catalog-list__text-wrap
                                .catalog-list__caption Перейти в каталог
                                svg.catalog-list__icon-arrow(width="20" height="20")
                                    use(xlink:href="assets/images/sprite.svg#arrow")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-12-min.png" alt="")
                .cont-block__addition.catalog-addition
                    .catalog-addition__top
                        .catalog-addition__left
                            svg(width="451" height="54")
                                use(xlink:href="assets/images/sprite.svg#logo-bike-tools")
                            p.catalog-addition__text Инструменты для велосипедов высшего уровня
                            a.catalog-addition__btn.button.main-color_yellow(href="#") Подробнее
                        .catalog-addition__right 
                            img(src="assets/images/unior-bike-tools-min.jpg" alt="")
                    ul.catalog-addition__bot
                        li.catalog-addition__item.catalog-addition__item_orange
                            .catalog-addition__img-wrap
                                img(src="assets/images/catalog-addition-1-min.png" alt="")
                            .catalog-addition__text-wrap
                                .catalog-addition__caption Акции
                                a.catalog-addition__link.button(href="#") Смотреть все
                        li.catalog-addition__item.catalog-addition__item_blue
                            .catalog-addition__img-wrap
                                img(src="assets/images/catalog-addition-2-min.png" alt="")
                            .catalog-addition__text-wrap
                                .catalog-addition__caption Новинки 2021
                                a.catalog-addition__link.button(href="#") Смотреть все

        //- main block производитель
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_red Hytorc

                .cont-block__content.manufact
                    .manufact__img-wrap
                        img(src="assets/images/hytorc.png" alt="hytorc logo")
                    .manufact__text-wrap
                        p Lorem 1 ipsum dolor 123 sit amet, consectetur adipiscing elit. Consequat ipsum eu diam est facilisi. Eleifend posuere sed urna nunc, non nec nisl. Sit sit fringilla amet interdum euismod viverra morbi ultrices
                        p Integer ultrices magnis odio suspendisse ultrices aliquam natoque maecenas justo. Eleifend posuere sed urna nunc, non nec nisl. Sit sit fringilla amet interdum euismod viverra morbi ultrices.

                        a.manufact__btn.button.main-color_red(href="#" download) Скачать каталог

        //- main block наши возможности
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_yellow Наши возможности

                .abilities-list
                    .abilities-list__item
                        img.abilities-list__img(src="assets/images/options-1.jpg" alt="")
                        .abilities__text-wrap
                            h3.abilities__caption Проектирование рабочего пространства
                            p Создание условий для качественного и эффективного выполнения работ при одновременном соблюдении правил техники безопасности и создании комфортных условий для работников.
                        a.abilities__btn.button(href="#") Подробнее
                    .abilities-list__item
                        img.abilities-list__img(src="assets/images/options-2.jpg" alt="")
                        .abilities__text-wrap
                            h3.abilities__caption Сервис
                            p Наша компания предоставляет широкий спектр услуг по созданию модульных систем, систем хранения, а также 3D-моделированию. Также мы занимаемся обслуживанием и ремонтом поставляемого оборудования.
                        a.abilities__btn.button(href="#") Подробнее
                    .abilities-list__item
                        img.abilities-list__img(src="assets/images/options-3.jpg" alt="")
                        .abilities__text-wrap
                            h3.abilities__caption Гарантия
                            p UNIOR предоставляет бессрочную гарантию от брака, обусловленного дефектами материала или изготовления, на весь инструмент. В случае выхода инструмента из строя по вине изготовителя официальный представитель UNIOR обеспечит его бесплатный ремонт или замену.
                        a.abilities__btn.button(href="#") Подробнее

        //- main block video list
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_blue-1 Видео
                .video-nav
                    label.video-nav__item
                        input.visually-hidden(type="radio" name="sort-video" value="learn" checked data-tab-id="tabId1" data-tab-control="tab1")
                        span Обучающее видео
                    label.video-nav__item
                        input.visually-hidden(type="radio" name="sort-video" value="about" data-tab-id="tabId1" data-tab-control="tab2")
                        span Видео о нас


                .video-list(data-tab-id="tabId1" data-tab-block="tab1")
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn(aria-label="Play")
                                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 9L-8.15666e-07 17.6603L-5.85621e-08 0.339745L15 9Z" fill="#0077C1"/>
                                </svg>
                        span.video-list__caption Правильный выбор инструмента, советы от профессионалов
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn(aria-label="Play")
                                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 9L-8.15666e-07 17.6603L-5.85621e-08 0.339745L15 9Z" fill="#0077C1"/>
                                </svg>
                        span.video-list__caption Правильный выбор инструмента, советы от профессионалов
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn(aria-label="Play")
                                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 9L-8.15666e-07 17.6603L-5.85621e-08 0.339745L15 9Z" fill="#0077C1"/>
                                </svg>
                        span.video-list__caption Правильный выбор инструмента, советы от профессионалов

                .video-list(data-tab-id="tabId1" data-tab-block="tab2")
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn(aria-label="Play")
                                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 9L-8.15666e-07 17.6603L-5.85621e-08 0.339745L15 9Z" fill="#0077C1"/>
                                </svg>
                        span.video-list__caption Правильный выбор инструмента, советы от профессионалов
                    .video-list__item
                        .video-list__wrap
                            img(src="assets/images/video-cover.jpg" alt="")
                            button.video-list__btn(aria-label="Play")
                                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 9L-8.15666e-07 17.6603L-5.85621e-08 0.339745L15 9Z" fill="#0077C1"/>
                                </svg>
                        span.video-list__caption Правильный выбор инструмента, советы от профессионалов

                button.video-btn_more.button Показать больше

        //- block с текстом в 2 колонки
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .about__text-wrap
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.

        //- about company блок о компании
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h1.cont-block__h.main-color_blue-1 О компании

                .about-company
                    .about-company__left
                        .about-company__caption UNIOR d.d.
                        img.about-company__img(src="assets/images/logo-white.png" alt="")
                        p Акционерное общество UNIOR основано в 1919 году и находится в Словении (территория бывшей Югославии). Компания UNIOR берет начало из региона Похорье, который широко известен своими традициями ковки. Помимо головного предприятия в Зрече, компания включает в себя производственные и коммерческие предприятия по всему миру.
                        button.about-company__btn.button_more
                            span Показать полностью
                            svg(width="10" height="10")
                                use(xlink:href="assets/images/sprite.svg#arrow-smal")
                        p Компания UNIOR широко известна как производитель профессионального ручного инструмента, кованых изделий, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    .about-company__right
                        .cont-block__h.about-company__caption UNIOR в России
                        img.about-company__img(src="assets/images/logo-blue.png" alt="")
                        p ООО "Униор Профешнл Тулз" – дочернее предприятие и официальное представительство компании UNIOR d.d. в России и странах СНГ с головным офисом и центральным складом в Санкт-Петербурге, а также представительствами и складами в Москве и Екатеринбурге.
                        button.about-company__btn.button_more
                            span Показать полностью
                            svg(width="10" height="10")
                                use(xlink:href="assets/images/sprite.svg#arrow-smal")
                        p Основная задача нашей компании – <b>обеспечение поддержки предприятий в реализации их производственных, эксплуатационных и ремонтных задач с помощью поставки качественного профессионального ручного инструмента.</b> Мы не просто осуществляем поставки – мы помогаем в решении ряда вопросов, связанных со снижением затрат и повышением качества и безопасности проводимых работ.
                        p Свою цель мы видим в том, чтобы помочь каждому клиенту в выборе того инструмента, который необходим именно ему.

        //- about company филиалы
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_blue-1 Филиалы UNIOR в России

                .subsidiary-wrap
                    ul.subsidiary-list
                        li.subsidiary-list__item
                            .subsidiary-list__caption Санкт-Петербург
                            address.subsidiary-list__address 196105, Санкт-Петербург, ул. Благодатная, д. 63, корпус 1, литера Д
                            a.subsidiary-list__number(href="tel:+78124498350") (812) 449-83-50
                            a.subsidiary-list__number(href="tel:+78124498351") (812) 449-83-51
                            a.subsidiary-list__mail(href="mailto:unior@unior.ru") unior@unior.ru
                        li.subsidiary-list__item
                            .subsidiary-list__caption Екатеринбург
                            address.subsidiary-list__address 620049, Екатеринбург, переулок Автоматики, д. 1, литера Б
                            a.subsidiary-list__number(href="tel:+73433453774") (343) 345-37-74
                            a.subsidiary-list__mail(href="mailto:ekb@unior.ru") ekb@unior.ru
                        li.subsidiary-list__item
                            .subsidiary-list__caption Москва
                            address.subsidiary-list__address 117574, Москва, проезд Одоевского, д.2А
                            a.subsidiary-list__number(href="tel:+74952589274") (495) 258-92-74
                            a.subsidiary-list__mail(href="mailto:unior@unior.ru") moscow@unior.ru

        //- about company отраслевые решения
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_blue-1 Отраслевые решения

                .about__text-wrap
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    button.about__text-btn.button_more
                        span Показать полностью
                        svg(width="10" height="10")
                            use(xlink:href="assets/images/sprite.svg#arrow-smal")
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.
                    p Unior - европейский производитель промышленного слесарно-монтажного инструмента, кованых деталей, изделий порошковой металлургии и специальных металлообрабатывающих станков.

        //- about company блок карьера
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_red Карьера

                .cont-block__text-wrap
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                    p Ullamcorper massa dolor, in vel phasellus purus, dictum. Feugiat elementum elit imperdiet eros in. Consequat, ridiculus amet, velit sit malesuada duis duis fermentum et.

                ul.career-advantages
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#014-education")
                        p.career-advantages__text Обучение:<br> продукт, продажи,<br> бизнес-процессы
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#036-contract")
                        p.career-advantages__text Оформление<br> по ТК РФ
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#027-health-insurance")
                        p.career-advantages__text Расширенный пакет<br> ДМС
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#029-handshake")
                        p.career-advantages__text Социальная<br> поддержка
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#002-manager")
                        p.career-advantages__text Наставник<br> для новичка
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#038-salary")
                        p.career-advantages__text Оклад и премии<br> (месяц, квартал), выслуга лет
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#030-gift")
                        p.career-advantages__text Подарки детям и сотрудникам
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#045-promotion")
                        p.career-advantages__text Возможность учиться и перенять опыт лучших
                    li.career-advantages__item
                        svg.career-advantages__icon(width="50" height="50")
                            use(xlink:href="assets/images/sprite.svg#033-Work-time")
                        p.career-advantages__text Гибкий график<br> работы
                    li.career-advantages__item.career-advantages__item_link
                        a.career-advantages__link(href="#")
                            span Перейти в раздел с<br> вакансиями
                                svg(width="20" height="20")
                                    use(xlink:href="assets/images/sprite.svg#arrow")

        //- about company стать партнером
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_blue-1 Стать нашим партнером

                .cooperation
                    .cooperation__text-wrap
                        p Миссия компании UNIOR в России – сделать качественный инструмент доступным любому пользователю. Для этого мы создали и развиваем региональную партнерскую сеть, которая помогает нашим клиентам облегчить и ускорить выбор и получение нужного им инструмента. 
                        p В настоящее время партнерская сеть UNIOR активно развивается, и мы приглашаем к сотрудничеству торговые компании, занимающиеся продажами инструмента и другой технической продукции в сфере промышленных, ремонтных, монтажных и строительных предприятий.

                    .cooperation__slider
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .cooperation__slider-img
                                        img(src="assets/images/cooperation-1.jpg" alt="")
                                .swiper-slide
                                    .cooperation__slider-img
                                        img(src="assets/images/cooperation-2.jpg" alt="")
                            .swiper-button-prev
                                svg(width="22" height="22")
                                    use(xlink:href="assets/images/sprite.svg#long-arrow")
                            .swiper-button-next
                                svg(width="22" height="22")
                                    use(xlink:href="assets/images/sprite.svg#long-arrow")

                    .cooperation__bot
                        .cooperation__wrap
                            h3.cooperation__subtitle Преимущества сотрудничества с UNIOR
                            ul.cooperation__list
                                li.cooperation__item
                                    svg.cooperation__icon(width="20" height="20")
                                        use(xlink:href="assets/images/sprite.svg#circle-ok")
                                    p Высококачественный и надежный инструмент, отлично зарекомендовавший себя во всех отраслях промышленности, монтажа и ремонта.
                                li.cooperation__item
                                    svg.cooperation__icon(width="20" height="20")
                                        use(xlink:href="assets/images/sprite.svg#circle-ok")
                                    p Большой склад в Санкт-Петербурге (один из крупнейших в России), а также в Москве, позволяющие в сжатые сроки комплектовать и транспортировать необходимый инструмент в любую точку нашей страны.
                                li.cooperation__item
                                    svg.cooperation__icon(width="20" height="20")
                                        use(xlink:href="assets/images/sprite.svg#circle-ok")
                                    p Эффективная программа поддержки и развития наших партнеров.
                                li.cooperation__item
                                    svg.cooperation__icon(width="20" height="20")
                                        use(xlink:href="assets/images/sprite.svg#circle-ok")
                                    p Сотрудничество с европейской компанией – возможность использования опыта других Российских и европейских партнеров UNIOR для увеличения Ваших продаж.
                        .cooperation__wrap
                            h3.cooperation__subtitle Как это работает?
                            p Если Вам интересно развивать свой бизнес вместе с компанией UNIOR и заниматься поставками высококачественного профессионального инструмента, свяжитесь с нами, и мы подробнее познакомим Вас с нашими возможностями и условиями сотрудничества.
                            button.cooperation__btn.button Заполнить заявку

        //- career banner
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .banner-wrap
                    img(src="assets/images/career-banner.jpg", alt="")

        //- career блок работа в компании
        section.cont-block__wrap.cont-block__wrap_career.cont-block_mb95
            .cont-block.cont-block_small
                .cont-block__header
                    h1.cont-block__h.main-color_red Работа в компании UNIOR

                .cont-block__text-wrap
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.

                    p Ullamcorper massa dolor, in vel phasellus purus, dictum. Feugiat elementum elit imperdiet eros in. Consequat, ridiculus amet, velit sit malesuada duis duis fermentum et.

                .career-slider
                    h3.career-slider__subtitle.subtitle Истории успеха от нашей команды

                    .career-slider__slider-wrap
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .career-slider__item
                                        .career-slider__video-wrap
                                            img(src="assets/images/career.jpg" alt="")
                                            button.video-list__btn(aria-label="Play")
                                                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15 9L-8.15666e-07 17.6603L-5.85621e-08 0.339745L15 9Z" fill="#0077C1"/>
                                                </svg>
                                        .career-slider__text-wrap
                                            .career-slider__caption Иванов Иван Иванович
                                            span.career-slider__desc Руководитель отдела продаж
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                .swiper-slide
                                    .career-slider__item
                                        .career-slider__video-wrap
                                            img(src="assets/images/career.jpg" alt="")
                                            button.video-list__btn(aria-label="Play")
                                                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15 9L-8.15666e-07 17.6603L-5.85621e-08 0.339745L15 9Z" fill="#0077C1"/>
                                                </svg>
                                        .career-slider__text-wrap
                                            .career-slider__caption Иванов Иван Иванович
                                            span.career-slider__desc Руководитель отдела продаж
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.

                        .swiper-button-prev.swiper-button_blue
                            svg(width="22" height="22")
                                use(xlink:href="assets/images/sprite.svg#long-arrow")
                        .swiper-button-next.swiper-button_blue
                            svg(width="22" height="22")
                                use(xlink:href="assets/images/sprite.svg#long-arrow")

        //- вакансии аккордион
        section.cont-block__wrap.cont-block__wrap_career.cont-block_mb95
            .cont-block.cont-block_small
                .cont-block__header
                    h1.cont-block__h.main-color_red Вакансии
                
                .vacancy-ac
                    .ac
                        .ac-header
                            .ac-trigger
                                .vacancy-ac__name Руководитель отдела продаж
                                .vacancy-ac__city
                                    .vacancy-ac__term Город:
                                    .vacancy-ac__value Санкт-Петербург
                        .ac-panel
                            .vacancy-ac__panel
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                button.vacancy-ac__btn.button Откликнуться на вакансию

                    .ac
                        .ac-header
                            .ac-trigger
                                .vacancy-ac__name Руководитель отдела по связям с общественностью
                                .vacancy-ac__city
                                    .vacancy-ac__term Город:
                                    .vacancy-ac__value Санкт-Петербург
                        .ac-panel
                            .vacancy-ac__panel
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                button.vacancy-ac__btn.button Откликнуться на вакансию

                    .ac
                        .ac-header
                            .ac-trigger
                                .vacancy-ac__name Старший продавец-консультант на склад
                                .vacancy-ac__city
                                    .vacancy-ac__term Город:
                                    .vacancy-ac__value Санкт-Петербург
                        .ac-panel
                            .vacancy-ac__panel
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                .vacancy-ac__text-wrap
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                button.vacancy-ac__btn.button Откликнуться на вакансию

                .vacancy-bot
                    .vacancy-bot__caption Не нашли подходящую вакансию?
                    p Свое резюме вы можете отправить по электронному адресу 
                        a(href="mailto:job@unior.ru") job@unior.ru 
                        | или заполнить анкету, и специалисты отдела персонала свяжутся с вами.
                    button.vacancy-bot__btn.button Заполнить анкету

        //- вакансии контакты
        section.cont-block__wrap.cont-block_mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_blue-2 Контакты

                ul.contacts-list
                    li.contacts-list__item 
                        .contacts-list__top Представительство компании UNIOR d.d. в России и странах СНГ:
                        .contacts-list__com
                            img(src="assets/images/logo-blue.png", alt="")
                            span ООО «Униор Профешнл Тулз»
                        .contacts-list__bot 
                            span Звонки по России:
                            a(href="tel:8-800-700-83-51") 8-800-700-83-51
                            span [звонок бесплатный]
                    li.contacts-list__item 
                        .contacts-list__caption Санкт-Петербург
                        address.contacts-list__address 196105, Санкт-Петербург, ул. Благодатная, д. 63, корпус 1, литера Д
                        .contacts-list__wrap
                            a.contacts-list__tel(href="tel:+78124498350") (812) 449-83-50
                            a.contacts-list__tel(href="tel:+78124498351") (812) 449-83-51
                            a.contacts-list__mail(href="mailto:")
                        a.contacts-list__link(href="") 
                            svg(width="16" height="16")
                                use(xlink:href="assets/images/sprite.svg#map")
                            span Схема проезда
