extends ../template

block variables
    - var title = 'UI'
    - var contactForm = true

block content
    main
        section.cont-block__wrap.cont-block--mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_green Новости123
                    a(href="#").linc-arrow.cont-block--linc-arrow.main-color_green
                        | Смотреть все
                        svg(width="12" height="12").linc-arrow__icont
                            use(xlink:href="./assets/images/sprite.svg#arrow-smal")
                ul.cont-block__list.news-list
                    li.news-list__item
                        a.news-list__link(href="#")
                            .news-list__img-wrap
                                img.news-list__img(src="assets/images/news-1-min.jpg", alt="")
                            .news-list__text-wrap
                                span.news-list__date 10.12.2020
                                h3.news-list__caption Интервью с руководителем коммерческого департамента
                                p.news-list__text Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!
                    li.news-list__item
                        a.news-list__link(href="#")
                            .news-list__img-wrap
                                img.news-list__img(src="assets/images/news-2-min.jpg", alt="")
                            .news-list__text-wrap
                                span.news-list__date 10.12.2020
                                h3.news-list__caption Интервью с руководителем коммерческого департамента
                                p.news-list__text Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!
                    li.news-list__item
                        a.news-list__link(href="#")
                            .news-list__img-wrap
                                img.news-list__img(src="assets/images/news-3-min.jpg", alt="")
                            .news-list__text-wrap
                                span.news-list__date 10.12.2020
                                h3.news-list__caption Интервью с руководителем коммерческого департамента
                                p.news-list__text Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!
        
        section.cont-block__wrap.cont-block--mb95
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_yellow Каталог продукции
                    a(href="#").linc-arrow.cont-block--linc-arrow.main-color_green
                        | Смотреть все
                        svg(width="12" height="12").linc-arrow__icont
                            use(xlink:href="./assets/images/sprite.svg#arrow-smal")
                ul.cont-block__list.catalog-list
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Слесарно-монтажный инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Пневматический инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Промышленные<br> съемники
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Инструментальная мебель<br> и средства хранения
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Динамометрический<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Гидравлический<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Искробезопасный<br> инструмент
                                svg(width="30" height="26")
                                    use(xlink:href="assets/images/sprite.svg#EX")
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Резьбонарезной<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Абразивный<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Сервисный<br> инструмент
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-1-min.png", alt="")
                            .catalog-list__text-wrap
                                .catalog-list__caption Наши<br> возможности
                    li.catalog-list__item
                        a.catalog-list__link(href="#")
                            .catalog-list__text-wrap
                                .catalog-list__caption Перейти в каталог
                                svg.catalog-list__icon-arrow(width="20" height="20")
                                    use(xlink:href="assets/images/sprite.svg#arrow")
                            .catalog-list__img-wrap
                                img.catalog-list__img(src="assets/images/main-catalog/catalog-12-min.png", alt="")
                .cont-block__addition.catalog-addition
                    .catalog-addition__top
                        svg(width="451" height="54")
                            use(xlink:href="assets/images/sprite.svg#logo-bike-tools")
                        p.catalog-addition__text Инструменты для велосипедов высшего уровня
                        a.catalog-addition__btn(href="#") Подробнее 
                    ul.catalog-addition__bot
                        li.catalog-addition__item
                            .catalog-addition__img-wrap
                                img(src="assets/images/", alt="")
                            .catalog-addition__text-wrap
                                .catalog-addition__caption Акции
                                a.catalog-addition__link(href="#") Смотреть все
                        li.catalog-addition__item
                            .catalog-addition__img-wrap
                                img(src="", alt="")
                            .catalog-addition__text-wrap
                                .catalog-addition__caption Новинки 2021
                                a.catalog-addition__link(href="#") Смотреть все

