extends ../template

block variables
    - var title = 'UI'
    - var contactForm = true

block content
    main
        section.cont-block__wrap
            .cont-block
                .cont-block__header
                    h2.cont-block__h.main-color_green Новости
                    a(href="#").linc-arrow.cont-block--linc-arrow.main-color_green
                        | Смотреть все
                        svg(width="12" height="12").linc-arrow__icont
                            use(xlink:href="./assets/images/sprite.svg#arrow-smal")
