// Размеры
$content-max-weight: 1170px;
$content-max-width: 770px;
$content-padding: 0 15px;

// Шрифт
$font-primary: "Open Sans", sans-serif;

// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;
$color-b-grey: #868686;

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-primary;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: $color-dark-grey;
	background: #f6f6f6;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

button,
a {
	transition: 150ms ease-in-out 0ms;
	transition-property: color, background-color, border-color;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
	appearance: none;
	font-family: $font-primary;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
}

a {
	--main-color: #{$color-Blue_1};
	--main-color_hover: #{darken($color-Blue_1, 10%)};
	color: var(--main-color);
	text-decoration: underline;

	&:hover {
		color: var(--main-color_hover);
	}
}

img {
	max-width: 100%;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.subtitle {
	font-size: 24px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cont-block__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $content-padding;
}

.cont-block {
	width: 100%;
	max-width: $content-max-weight;

	> *:last-child {
		margin-bottom: 0;
	}
}

.cont-block_small {
	max-width: $content-max-width;
}

.cont-block__header {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cont-block__text-wrap {
	margin-bottom: 50px;

	p {
		margin: 0;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.cont-block__h {
	--main-color: #{$color-Blue_1};
	font-weight: 600;
	font-size: 32px;
	line-height: 140%;
	margin: 0;
	color: $color-dark-grey;
	display: flex;
	align-items: stretch;

	&::before {
		content: "";
		display: block;
		width: 10px;
		height: auto;
		background-color: var(--main-color);
		margin-right: 20px;
		flex-shrink: 0;
		margin-top: 4px;
	}
}

.cont-block--linc-arrow {
	margin-right: 20px;
}

.cont-block_mb95 {
	margin-bottom: 95px;
}

@media screen and (max-width: 768px) {
	.cont-block__header {
		flex-wrap: wrap;
	}

	.cont-block__h {
		font-size: 18px;

		&::before {
			margin-right: 10px;
		}
	}

	.cont-block--linc-arrow {
		justify-self: flex-end;
	}
}

// button
.button__wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: -10px;

	> * {
		margin: 10px;
	}
}

.button {
	--main-color: #{$color-Blue_1};
	--main-color_hover: #{darken($color-Blue_1, 10%)};
	--text-color: #{$color-White};
	--text-color_hover: #{$color-White};
	display: inline-flex;
	align-items: center;
	padding: 6px 20px;
	border-radius: 5px;
	min-height: 40px;
	border: 2px solid var(--main-color);
	background-color: var(--main-color);
	color: var(--text-color);
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		border-color: var(--main-color_hover);
		background-color: var(--main-color_hover);
		color: var(--text-color_hover);
	}
}

.button_ghost {
	background-color: transparent;
	color: $color-dark-grey;
}

.button_more {
	display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 140%;

	svg {
		margin-left: 11px;
	}
}

// linc-arrow
.linc-arrow {
	--main-color: #{$color-Blue_1};
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	color: var(--main-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.linc-arrow__icont {
	display: block;
	margin-left: 8px;
	transform: rotate(-90deg);
	--icon-color: var(--main-color);
	--icon-width: 2;
}

//swiper btn
.cont-block .swiper-btn-wrap {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 50px;
	margin: 10px 0;
}
.swiper-button-next:after, .swiper-button-prev:after {
	display: none;
}
.swiper-button-prev, .swiper-button-next {
	display: flex;
	width: 40px;
	height: 40px;
	background-color: $color-White;
	border-radius: 50%;
	cursor: pointer;

	svg {
		--long-arrow: #{$color-Blue_1};
	}
}
.swiper-button-prev {
	transform: rotate(180deg);
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 1;
}
.swiper-button_blue {
	background-color: $color-Blue_1;

	svg {
		--long-arrow: #{$color-White};
	}
}
.swiper-button_green {
	background-color: $color-Green;

	svg {
		--long-arrow: #{$color-White};
	}
}
.swiper-button_orange {
	background-color: $color-Orange;

	svg {
		--long-arrow: #{$color-White};
	}
}

@media screen and (max-width: 960px) {
	.swiper-button-prev, .swiper-button-next {
		width: 25px;
		height: 25px;

		svg {
			width: 12px;
		}
	}
}

// input
.input {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.input__input {
	margin: 0;
	padding: 5px 15px;
	min-height: 40px;
	border: 1px solid $color-Gray-plus;
	border-radius: 5px;
	background-color: transparent;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: $color-dark-grey;
	order: 2;

	&::placeholder {
		color: $color-Gray-plus;
	}

	&:required {
		~ .input__name::after {
			content: " *";
			color: $color-Red;
		}
	}

	&:focus {
		border-color: $color-dark-grey;
		outline: none;
	}
}

.input__name {
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: $color-dark-grey;
	margin-bottom: 10px;
	order: 1;
}

.input__error {
	display: none;
	font-weight: normal;
	font-size: 12px;
	line-height: 140%;
	color: red;
	margin-top: 4px;
	order: 3;
}

.input__input.error {
	border-color: $color-Red;

	&:focus {
		box-shadow: 0px 0px 0px 1px $color-dark-grey;
	}

	~ .input__error {
		display: block;
	}
}

// input-switch
.input-switch {
	position: relative;
	display: inline-block;
}
.input-switch__wrap {
	display: flex;
	align-items: center;
	outline-offset: 2px;
}

.input-switch__input {
	position: absolute;
	opacity: 0;
}

.input-switch__mimic {
	width: 12px;
	height: 12px;
	margin-right: 10px;
	border: 1px solid $color-Gray-plus;
	background-color: transparent;
	position: relative;
	cursor: pointer;
}

.input-switch__text {
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: $color-dark-grey;
	cursor: pointer;
}

.input-switch__input {
	&[type="radio"] {
		~ .input-switch__wrap .input-switch__mimic {
			border-radius: 12px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 3px;
				left: 3px;
				width: 4px;
				height: 4px;
				border-radius: 6px;
				background-color: $color-White;
				opacity: 0;
			}
		}
	}

	&[type="checkbox"] {
		~ .input-switch__wrap .input-switch__mimic {
			border-radius: 2px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M2 6l3 3 6-6' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0;
			}
		}
	}

	&.focus-visible {
		~ .input-switch__wrap {
			outline: auto;
		}
	}

	&:checked {
		~ .input-switch__wrap {
			.input-switch__mimic {
				border-color: $color-Blue_1;
				background-color: $color-Blue_1;

				&::before {
					opacity: 1;
				}
			}
		}
	}

	&:disabled {
		cursor: default;
		~ .input-switch__wrap {
			.input-switch__mimic,
			.input-switch__text {
				cursor: default;
				color: $color-Gray-plus;
			}
		}
	}
}

// subscribe-news
.subscribe-news {
	display: flex;
	height: 42px;
	width: 100%;
}

.subscribe-news__input {
	width: 100%;
	height: 100%;
	background-color: $color-White;
	border: 1px solid #a7a7a7;
	border-right: none;
	border-radius: 5px 0 0 5px;
	padding: 10px 20px 10px 50px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M17.5 3.75h-15A1.25 1.25 0 0 0 1.25 5v10a1.25 1.25 0 0 0 1.25 1.25h15A1.25 1.25 0 0 0 18.75 15V5a1.25 1.25 0 0 0-1.25-1.25zM16.125 5L10 9.238 3.875 5h12.25zM2.5 15V5.569l7.144 4.944c.105.073.229.112.356.112s.252-.039.356-.112L17.5 5.569V15h-15z' fill='%23808080' /%3E%3C/svg%3E");
	background-position: 16px center;
	background-size: 20px;
	background-repeat: no-repeat;

	&:invalid {
		border-color: $color-Red;
	}
}

.subscribe-news__button {
	border: none;
	margin: 0;
	width: 120px;
	height: 100%;
	border-radius: 0 5px 5px 0;
	padding: 5px 15px;
	background-color: $color-Red;
	color: $color-White;
	font-weight: normal;
	font-size: 12px;
	line-height: 120%;
	text-align: center;
	cursor: pointer;
	transition: background-color 150ms ease-in-out 0ms;

	&:hover {
		background-color: darken($color-Red, 6%);
	}
}

@import "./common/header.scss";
@import "./pages/index.scss";
@import "./common/footer.scss";

@import "./common/main-news.scss";
@import "./common/main-catalog.scss";
@import "./common/manufacturer-block.scss";
@import "./common/abilities.scss";
@import "./common/video-block.scss";
@import "./common/main-about.scss";
@import "./common/about-company.scss";
@import "./common/subsidiary.scss";
@import "./common/career-advantages.scss";
@import "./common/cooperation.scss";
@import "./common/career-slider.scss";
@import "./common/vacancy-ac.scss";

// main-color
.main-color_green {
	--main-color: #{$color-Green};
	--main-color_hover: #{darken($color-Green, 10%)};
	--text-color: #{$color-White};
	--text-color_hover: #{$color-White};
}
.main-color_yellow {
	--main-color: #{$color-Yellow};
	--main-color_hover: #{darken($color-Yellow, 6%)};
	--text-color: #{$color-dark-grey};
	--text-color_hover: #{$color-dark-grey};
}
.main-color_red {
	--main-color: #{$color-Red};
	--main-color_hover: #{darken($color-Red, 10%)};
	--text-color: #{$color-White};
	--text-color_hover: #{$color-White};
}
.main-color_orange {
	--main-color: #{$color-Orange};
	--main-color_hover: #{darken($color-Orange, 10%)};
	--text-color: #{$color-White};
	--text-color_hover: #{$color-White};
}
.main-color_blue-1 {
	--main-color: #{$color-Blue_1};
	--main-color_hover: #{darken($color-Blue_1, 10%)};
	--text-color: #{$color-White};
	--text-color_hover: #{$color-White};
}
.main-color_blue-2 {
	--main-color: #{$color-Blue_2};
	--main-color_hover: #{darken($color-Blue_2, 10%)};
	--text-color: #{$color-White};
	--text-color_hover: #{$color-White};
}

// @media screen and (max-width: 1170px) {

// }

// @media screen and (max-width: 960px) {

// }

@media screen and (max-width: 767px) {
	.subtitle {
		font-size: 16px;
	}
}
