header.header
    .cont-block__wrap.header__head-wrap
        .cont-block
            .header__head(data-active-block="mainBurger")
                .location-choice(data-location-choice).header__head--location-choice
                    button(data-location-button='spb').location-choice__mimic
                        svg(width="20" height="20").location-choice__icon-piont
                            use(xlink:href="./assets/images/sprite.svg#map-marker")

                        .location-choice__text Санкт-Петербург

                        svg(width="12" height="12").location-choice__icon-arrow
                            use(xlink:href="./assets/images/sprite.svg#arrow-smal")

                    ul(data-location-option-list).location-choice__option
                        li.location-choice__item 
                            label.location-choice__button
                                input(type="radio" name="location-choice" value="spb", checked, data-name='Санкт-Петербург')
                                | Санкт-Петербург
                        li.location-choice__item 
                            label.location-choice__button
                                input(type="radio" name="location-choice" value="msk" data-name='Москва')
                                | Москва
                        li.location-choice__item 
                            label.location-choice__button
                                input(type="radio" name="location-choice" value="ekb" data-name='Екатеринбург')
                                | Екатеринбург

                a(href="#").basket-button.header__head--basket-button
                    .basket-button__icon-wrap
                        .basket-button__number 2
                        svg(width="20" height="20").basket-button__icon
                            use(xlink:href="./assets/images/sprite.svg#wheelbarrow")
                    span.basket-button-trxt Корзина

                a(href="#").header__head-basket
                    svg(width="20" height="20")
                        use(xlink:href="./assets/images/sprite.svg#wheelbarrow")
                    | Корзина

                nav.header__head--header-menu
                    ul.header-menu 
                        li.header-menu__item.header-menu__item_burder
                            a(href="#").header-menu__licn Каталог
                        li.header-menu__item.header-menu__item_burder
                            a(href="#").header-menu__licn О компании
                        li.header-menu__item.header-menu__item_burder
                            a(href="#").header-menu__licn Наши бренды
                        li.header-menu__item.header-menu__item_burder
                            a(href="#").header-menu__licn Дилеры
                        li.header-menu__item.header-menu__item_burder
                            a(href="#").header-menu__licn Техническая информация
                        li.header-menu__item 
                            a(href="#").header-menu__licn Наши возможности
                        li.header-menu__item 
                            a(href="#").header-menu__licn Новости
                        li.header-menu__item 
                            a(href="#").header-menu__licn Карьера
                        li.header-menu__item 
                            a(href="#").header-menu__licn Контакты

                ul.header__head-tel 
                    li.head-tel(data-size-viseble).head-tel_choice
                        a(href="tel:+78007008351").head-tel__tel 8 (800) 700-83-51
                        .head-tel__name Звонки по России бесплатно
                    li.head-tel(data-size-viseble='spb')
                        a(href="tel:+78124498350").head-tel__tel 8 (812) 449-83-50
                        .head-tel__name Санкт-Петербург
                    li.head-tel(data-size-viseble='msk')
                        a(href="tel:+74952589274").head-tel__tel 8 (495) 258-92-74
                        .head-tel__name Москва
                    li.head-tel(data-size-viseble='ekb')
                        a(href="tel:+73433453774").head-tel__tel 8 (343) 345-37-74
                        .head-tel__name Екатеринбург

    .cont-block__wrap.header__body-wrap
        .cont-block.header__body
            a(href="/").header__body-logo
                svg(width="130" height="60")
                    use(xlink:href="./assets/images/sprite.svg#main-logo")

            nav.header__body--header-menu
                ul.header-menu 
                    li.header-menu__item 
                        a(href="#").header-menu__licn 
                            svg(width="35" height="35")
                                use(xlink:href="./assets/images/sprite.svg#square-arrey")
                            | Каталог
                    li.header-menu__item 
                        a(href="#").header-menu__licn О компании
                    li.header-menu__item 
                        a(href="#").header-menu__licn Наши бренды
                    li.header-menu__item 
                        a(href="#").header-menu__licn Дилеры
                    li.header-menu__item 
                        a(href="#").header-menu__licn Техническая информация

            .header__body-user-wrap
                form.header__body--header-search
                    label.header-search
                        svg(width="20" height="20").header-search__icon-search
                            use(xlink:href="./assets/images/sprite.svg#search-alt")
                        input(type="search" name="header-search" placeholder='Поиск').header-search__input 
                        button(type="button").header-search__clear
                            svg(width="17" height="17")
                                use(xlink:href="./assets/images/sprite.svg#plus-minus")

                button(data-login-control data-active-control='login1').header__body-login
                    svg(width="20" height="20")
                        use(xlink:href="./assets/images/sprite.svg#user")
                    span.header__body-login-text Вход / Регистрация

                .header__body-login-popup.login-popup(data-login-block data-active-block='login1')
                    .login-popup__error-text Неверный логин или пароль

                    form.login-popup__form
                        label.input.login-popup__form--input
                            input(type="text" name="name" placeholder="Логин" required).input__input
                            //- .input__name Логин
                            .input__error Поле введено не верно

                        label.input.login-popup__form--input
                            input(type="password" name="name" placeholder="Пароль" required).input__input
                            //- .input__name Пароль
                            .input__error Поле введено не верно

                        label.input-switch.login-popup__form--input-switch
                            input(type="checkbox" name="checkbox").input-switch__input
                            .input-switch__wrap
                                .input-switch__mimic           
                                .input-switch__text Запомнить меня            

                        .button__wrap.login-popup__form--button__wrap
                            button(type="submit").button Войти

                    .login-popup__linc-wrap
                        a(href="").login-popup__linc Забыли пароль?
                        a(href="").login-popup__linc Зарегистрироваться

                a(href="#").basket-button.header__body--basket-button
                    .basket-button__icon-wrap
                        .basket-button__number 2
                        svg(width="20" height="20").basket-button__icon
                            use(xlink:href="./assets/images/sprite.svg#wheelbarrow")
                    span.basket-button-trxt Корзина

                button(data-active-control="mainBurger").burger-button__wrap
                    .burger-button
                        .burger-button__border



