ul.pagination-list
    li.pagination-list__item
        span.pagination-list__link.pagination-list__link_current 1
    li.pagination-list__item
        a(href="#").pagination-list__link 2
    li.pagination-list__item
        span.pagination-list__link ...
    li.pagination-list__item
        a(href="#").pagination-list__link 15
    li.pagination-list__item.pagination-list__item_next
        a(href="#").pagination-list__link 
            svg(width="14" height="14")
                use(xlink:href="assets/images/sprite.svg#arrow-smal")