.popup
    .popup__fade(data-close-popup)
        section.popup__wrap
            .popup__container
                .popup__app-caption.subtitle Ваша заявка принята
                p.popup__app-text Мы перезвоним вам в течении 20 минут

                button.popup__app-btn.button.main-color_orange(data-close-popup) Закрыть
                button.popup__close.popup__close_orange(data-close-popup)
                    svg(width="24" height="24")
                        use(xlink:href="assets/images/sprite.svg#icon-close")