// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-grey-text: #A1A1A1;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;
$color-b-grey: #868686;

.breadcrumbs__list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 10px;
}

.breadcrumbs__item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    column-gap: 10px;

    svg {
        --icon-color: #{$color-dark-grey};
    }
}

.breadcrumbs__link {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs__link_current {
    color: $color-Gray-plus;
}