// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;
$color-b-grey: #868686;

.cart__text {
    margin: 0;
}

.cart__wrap {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 270px);
    column-gap: 30px;
    margin-top: 20px;
}
.cart__table-wrap {
    background-color: $color-White;
    padding: 10px 50px 5px;
}
.cart-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.cart-table__row {
    border-top: 1px solid $color-Silver;
}
.cart-table__cell {
    padding: 20px 0;

    &:first-child {
        min-width: 50px;
        padding-right: 38px;
    }
}
th.cart-table__cell {
    font-weight: 600;
}
.cart-table__cell_name {
    width: 100%;
}
.cart-table__cell_order {
    text-align: center;
    padding-right: 67px;
    padding-left: 20px;
}

.cart-table__quantity {
    max-width: 77px;
    display: grid;
    grid-template-columns: repeat(3, max-content);

    input {
        max-width: 37px;
        text-align: center;
        background: none;
        border: none;
        padding: 0;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}
.cart-table__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: $color-Red;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

    svg {
        --icon-color: #{$color-White};
        --icon-color-2: #{$color-White};
    }
}
.cart-table__btn_minus {
    svg {
        --icon-color-2: rgba(0,0,0, 0);
    }
}

.cart__btn {
    margin-top: 30px;
}
.cart__btn_mobile {
    display: none;
}

.cart__text-wrap {
    background-color: $color-White;
    padding: 30px;

    p {
        margin: 0;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.cart__caption {
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width: 1050px) {
    .cart-table__cell_order {
        padding-right: 0;
    }
}

@media screen and (max-width: 960px) {
    .cart__wrap {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }
    .cart__table-wrap {
        padding: 10px 15px;
        margin: 0 -15px;
    }
    .cart-table__head {
        display: none;
    }
    .cart-table__row {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: 12px;

        &:first-of-type {
            border: none;
        }
    }
    .cart-table__cell {
        padding: 0 0 20px;

        &_article {
            grid-column: 1 / -1;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        &_order {
            padding-right: 0;
        }
    }

    .cart__btn {
        display: none;

        &_mobile {
            width: 230px;
            display: flex;
            justify-content: center;
        }
    }

    .cart__text-wrap {
        padding: 30px 20px;
        margin-top: 60px;
    }
    .cart__caption {
        margin-bottom: 10px;
    }
}