// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-grey-text: #A1A1A1;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;
$color-b-grey: #868686;

.catalog-filter {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 20px;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 50px;
}
.catalog-filter__select-wrap {
    position: relative;

    svg {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        --icon-color: #{$color-Green};
    }
}
.catalog-filter__select {
    width: 200px;
    background-color: $color-White;
    border: none;
    padding: 11px 15px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.catalog-filter__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $color-Yellow;
    cursor: pointer;
    border-radius: 5px;
}

.catalog-filter__filter-btn {
    position: relative;
}
.catalog-filter__drop {
    position: absolute;
    display: none;
    width: max-content;
    padding: 15px;
    background-color: $color-White;
}

@media screen and (max-width: 767px) {
    .catalog-filter {
        justify-content: space-between;
        margin-top: -30px;
        
        span {
            display: none;
        }
    }
    .catalog-filter__select {
        width: 155px;
    }
}