.about__text-wrap {
    column-count: 2;
    column-gap: 31px;

    p {
        margin: 0;
        margin-bottom: 10px;
    }
}
.about__text-btn {
    display: none;
}

@media screen and (max-width: 767px) {
    .about__text-wrap {
        column-count: 1;
    }
    .about__text-btn {
        display: flex;
        color: $color-Blue_1;
        margin: 20px 0;
    }    
}