$color-dark-grey: #252525;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;

.main-catalog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
	row-gap: 30px;
}

.main-catalog__link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	background-color: $color-White;
	border-radius: 10px;
	color: $color-Text-grey;
	text-decoration: none;
	transition: 150ms ease-in-out 0ms;
	transition-property: box-shadow, color;
	overflow: hidden;
	order: 1;

	&:hover {
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
		color: $color-Blue_1;
	}

	&:hover {
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
		color: $color-Blue_1;
	}
}

.main-catalog__item_catalog {
	order: 3;

	.main-catalog__link {
		background-color: $color-Yellow;
	}

	.main-catalog__img-wrap {
		height: 168px;
	}

	.main-catalog__text-wrap {
		padding: 40px;
		padding-bottom: 15px;
		justify-content: flex-start;
	}

	.main-catalog__icon-arrow {
		margin-left: 10px;
	}

	.main-catalog__caption {
		color: $color-Black;
	}

	.main-catalog__img {
		object-position: bottom left;
	}
}

.main-catalog__ex {
	filter: grayscale(1);
	opacity: 0.4;
	transition: opacity 150ms ease-in-out 0ms;
}

.main-catalog__link:hover {
	.main-catalog__ex {
		filter: grayscale(0);
		opacity: 1;
	}
}

.main-catalog__img-wrap {
	height: 150px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: top right;
	}
}
.main-catalog__text-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	padding-bottom: 31px;
}
.main-catalog__caption {
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
}
.main-catalog__icon-arrow {
	--icon-color: #{$color-Black};
}

.catalog-addition__top {
	background-color: $color-dark-grey;
	border-radius: 10px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	color: $color-White;
	background-color: $color-dark-grey;
	border-radius: 10px;
	overflow: hidden;
	margin: 40px 0;
}
.catalog-addition__left {
	padding: 20px;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	background-image: url("../images/addition-bac.png");
	background-position: right bottom;
	background-repeat: no-repeat;

	svg {
		max-width: 100%;
		height: auto;
	}
}

.main-catalog__buttom-more {
	display: none;
	order: 2;

	> .button input {
		display: none;
	}
}

.catalog-addition__text {
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	margin: 30px 0 50px;
}
.catalog-addition__btn {
	width: max-content;
}

.catalog-addition__right {
	height: 100%;
	width: 50%;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.catalog-addition__bot {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
}
.catalog-addition__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $color-White;
	border-radius: 10px;
	padding-right: 100px;
}
.catalog-addition__item_orange {
	background-color: $color-Orange;
}
.catalog-addition__item_blue {
	background-color: $color-Blue_1;
}
.catalog-addition__img-wrap {
	display: flex;

	img {
		display: block;
	}
}
.catalog-addition__caption {
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 25px;
}
.catalog-addition__link {
	width: max-content;
	background-color: $color-White;
	color: $color-dark-grey;
	border-color: $color-White;

	&:hover {
		background-color: $color-Silver;
		color: $color-dark-grey;
		border-color: $color-Silver;
	}
}

@media screen and (max-width: 1023px) {
	.main-catalog {
		grid-template-columns: 1fr 1fr;
		row-gap: 20px;
	}

	.catalog-addition__bot {
		grid-template-columns: 1fr;
		row-gap: 30px;
	}
}

@media screen and (max-width: 767px) {
	.main-catalog {
		grid-template-columns: 1fr;
	}
	.main-catalog__img-wrap {
		height: 120px;
	}
	.main-catalog__text-wrap {
		padding: 20px;
		padding-top: 16px;
	}
	.main-catalog__item_catalog {
		.main-catalog__img-wrap {
			height: 148px;
		}
		.main-catalog__text-wrap {
			padding: 25px 40px;
			padding-bottom: 5px;
		}
	}
	.catalog-addition__top {
		flex-direction: column-reverse;
	}
	.catalog-addition__right {
		max-width: 100%;
		width: 100%;
		height: 183px;
	}
	.catalog-addition__left {
		min-height: 300px;
		width: 100%;
		padding: 30px 20px;
	}
	.catalog-addition__text {
		font-size: 14px;
		margin: 28px 0 40px;
	}
	.catalog-addition__item {
		flex-direction: column;
		padding-right: 0;
		padding-bottom: 27px;

		&:first-of-type {
			.catalog-addition__img-wrap {
				align-self: flex-end;
				margin-right: 0;
				display: flex;
				justify-content: flex-end;

				> img {
					transform: rotate(180deg);
				}
			}
		}
		&:last-of-type {
			.catalog-addition__img-wrap {
				align-self: flex-start;
			}
		}
	}
	.catalog-addition__img-wrap {
		height: 165px;
	}
	.catalog-addition__text-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.catalog-addition__caption {
		margin-bottom: 15px;
	}
	.main-catalog__btn {
		display: flex;
	}

	.main-catalog__buttom-more {
		display: block;
	}
}
