$color-dark-grey: #252525;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;

.catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.catalog-list__item {
    &:last-of-type {
        .catalog-list__link {
            background-color: $color-Yellow;
        }
        .catalog-list__img-wrap {
            height: 168px;
        }
        .catalog-list__text-wrap {
            padding: 40px;
            padding-bottom: 15px;
        }
        .catalog-list__caption {
            color: $color-Black;
        }
    }
}
.catalog-list__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: $color-White;
    border-radius: 10px;
    color: $color-Text-grey;
    text-decoration: none;
    transition: all 0.2s;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
        color: $color-Blue_1;
    }
}
.catalog-list__img-wrap {
    height: 150px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}
.catalog-list__text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 31px;
}
.catalog-list__caption {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}
.catalog-list__icon-arrow {
    --arrow-color: #{$color-Black};
}

.catalog-addition__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-White;
    background-color: $color-dark-grey;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px 0;
}
.catalog-addition__left {
    padding: 20px;
    padding-left: 40px;

    svg {
        width: 100%;
        height: auto;
    }
}
.catalog-addition__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    margin: 30px 0 50px;
}
.catalog-addition__btn {
    width: max-content;
}

.catalog-addition__right {
    max-width: 569px;
    height: 100%;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.catalog-addition__bot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
.catalog-addition__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-White;
    padding-right: 100px;

    &:first-of-type {
        background-color: $color-Orange;
        border-radius: 10px;
    }
    &:nth-of-type(2) {
        background-color: $color-Blue_1;
        border-radius: 10px;
    }
}
.catalog-addition__img-wrap {
    display: flex;

    img {
        display: block;
    }
}
.catalog-addition__caption {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 25px;
}
.catalog-addition__link {
    width: max-content;
    background-color: $color-White;
    color: $color-dark-grey;
    border-color: $color-White;

    &:hover {
        background-color: $color-White;
        color: $color-dark-grey;
        border-color: $color-White;
    }
}

@media screen and (max-width: 1023px) {
    .catalog-list {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .catalog-addition__bot {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .catalog-list {
        grid-template-columns: 1fr;
    }
    .catalog-list__img-wrap {
        height: 120px;
    }
    .catalog-addition__top {
        flex-direction: column-reverse;
    }
    .catalog-addition__right {
        max-width: 100%;
        width: 100%;
        height: 183px;
    }
    .catalog-addition__left {
        min-height: 300px;
        padding: 30px 20px;
    }
    .catalog-addition__text {
        font-size: 14px;
        margin: 28px 0 40px;
    }
    .catalog-addition__item {
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 27px;

        &:first-of-type {
            .catalog-addition__img-wrap {
                align-self: flex-end;
            }
        }
        &:last-of-type {
            .catalog-addition__img-wrap {
                align-self: flex-start;
            }
        }
    }
    .catalog-addition__img-wrap {
        height: 165px;
    }
    .catalog-addition__text-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .catalog-addition__caption {
        margin-bottom: 15px;
    }
}
