// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;

.manufact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.manufact__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-grey-2;
    border-radius: 10px;
    padding: 37px 50px;
    transition: box-shadow 150ms ease-in-out;

    img {
        max-width: 100%;
    }

    &:hover {
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
	}
}
.manufact__text-wrap {
    p {
        color: $color-Text-grey;
        margin: 0;
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.manufact__btn {
    width: max-content;
    margin-top: 30px;
}

@media screen and (max-width: 960px) {
    .manufact {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}