// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;

.subsidiary-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
}
.subsidiary-list__item {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    color: $color-White;
    background-color: $color-Blue_1;
    border-radius: 10px;
    padding: 30px 50px;

    a {
        display: block;
        font-weight: 600;
        color: $color-White;
        text-decoration: none;
    }
}
.subsidiary-list__caption {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
.subsidiary-list__address {
    font-style: normal;
    font-size: 14px;
    margin-bottom: 10px;
}
.subsidiary-list__number {
    font-size: 16px;
}
.subsidiary-list__mail {
    margin-top: 5px;
}

@media screen and (max-width: 960px) {
    .subsidiary-wrap {
        margin: 0 -15px;
    }
    .subsidiary-list {
        position: relative;
        column-gap: 15px;
        padding: 0 15px;
        padding-bottom: 10px;
        overflow-x: scroll;

        &::after {
            content: '';
            padding-right: 1px;
        }

        &__item {
            min-width: 214px;
            min-height: 227px;
            padding: 20px;
            padding-right: 14px;
        }
    }
}