// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;
$color-b-grey: #868686;

.vacancy-ac {
    .ac {
        background: none;
        border: none;
        border-bottom: 1px solid $color-b-grey;
        margin: 0;

        &:first-child {
            .ac-triger {
                padding-top: 0;
            }
        }

        .ac-trigger {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            font-family: inherit;
            font-size: inherit;
            padding: 30px 0;

            &::after {
                display: none;
            }
        }
    }
}

.vacancy-ac__name {
    max-width: 470px;
    font-weight: 600;
    font-size: 18px;
    color: $color-Blue_1;
}
.vacancy-ac__city {
    display: flex;
}
.vacancy-ac__term {
    font-weight: normal;
    color: $color-dark-grey;
    margin-right: 10px;
}
.vacancy-ac__value {
    font-weight: 600;
    color: $color-dark-grey;
}

.vacancy-ac__panel {
    padding-bottom: 30px;

    p {
        margin: 0;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }
}
.vacancy-ac__text-wrap {
    color: $color-Text-grey;
    margin-bottom: 30px;

    &:last-of-type {
        margin-bottom: 0;
    }
}
.vacancy-ac__btn {
    margin-top: 50px;
}

.vacancy-bot {
    color: $color-Text-grey;
    margin-top: 50px;

    p {
        margin: 0;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}
.vacancy-bot__caption {
    font-weight: 600;
    font-size: 24px;
    color: $color-dark-grey;
    margin-bottom: 20px;
}
.vacancy-bot__btn {
    margin-top: 30px;
}

@media screen and (max-width: 767px) {
    .vacancy-ac {
        .ac {
            .ac-trigger {
                flex-direction: column;
                padding: 20px 0;
            }
        }
    }
    .vacancy-ac__panel {
        padding-bottom: 40px;
    }
    .vacancy-ac__name {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .vacancy-ac__text-wrap {
        margin-bottom: 20px;
    }
    .vacancy-ac__btn {
        margin-top: 40px;
    }

    .vacancy-bot {
        margin-top: 25px;
    }
    .vacancy-bot__caption {
        font-size: 16px;
        margin-bottom: 10px;
    }
}