// Цвета
$color-dark-grey: #252525;
$color-dark-grey-2: #222325;
$color-Silver: #e4e4e4;
$color-Blue_1: #0077c1;
$color-Blue_2: #72c7f0;
$color-Orange: #f7941e;
$color-Red: #ed1a3b;
$color-Green: #7c9640;
$color-Yellow: #ffcb08;
$color-Blue_3: #eaf2f7;
$color-Black: #000000;
$color-White: #ffffff;
$color-Gray-plus: #b4b4b4;
$color-Text-grey: #616161;
$color-grey: #7d7d7d;
$color-b-grey: #868686;

.contacts-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.contacts-list__item {
    display: flex;
    flex-direction: column;
    min-width: 213px;
    min-height: 270px;
    background-color: $color-White;
    border-radius: 10px;
    padding: 20px;
}
.contacts-list__mid {
    display: flex;
    align-items: center;
    margin-top: 10px;

    span {
        font-weight: 600;
    }
}
.contacts-list__logo {
    margin-right: 10px;
}
.contacts-list__bot {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .contacts-list__tel {
        margin-top: 5px;
    }
}

.contacts-list__caption {
    font-weight: 600;
    font-size: 16px;
}
.contacts-list__address {
    font-style: normal;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.contacts-list__wrap {
    display: flex;
    flex-direction: column;
}
.contacts-list__tel {
    font-weight: 600;
    font-size: 16px;
    color: $color-dark-grey;
    text-decoration: none;
}
.contacts-list__mail {
    font-weight: 600;
    color: $color-dark-grey;
    text-decoration: none;
    margin-top: 5px;
}
.contacts-list__link {
    display: flex;
    align-items: center;
    margin-top: 20px;

    svg {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .vacancy-contacts {
        overflow-x: scroll;
        margin: 0 -15px;
    }
    .contacts-list {
        column-gap: 20px;
        padding: 0 15px;
    }
    .contacts-list__caption {
        font-size: 14px;
    }
}